<section class="project-displays">
    <h3 class="pb-3">Projetos</h3>
    @foreach (var info in ProjectInfos)
    {
        @for (int i = 0; i < info.Titles.Length; i++)
        {
            <div class="project-display rounded p-4 mb-4 shadow">
                <div class="display-header mb-3 d-flex justify-content-between">
                    <h5>@info.Titles[i]</h5>
                </div>
                <div class="display-body">
                    <img src="@info.ImagePaths[i]" />
                    <div class="text-area p-3">
                        <p>@info.Descriptions[i]</p>
                        <p>Este projeto pode ser acessado por <a class="stylized-link" href="@info.DeployedLinks[i]" target="_blank">aqui</a>.</p>
                        <a class="stylized-link" href="@info.ProjectLinks[i]" target="_blank">Repositório do projeto.</a>
                    </div>
                </div>
            </div>
        }
    }
</section>

@code
{
    private List<ProjectDisplayInfo> ProjectInfos = new List<ProjectDisplayInfo>();

    protected override void OnInitialized()
    {

        ProjectInfos.Add(new ProjectDisplayInfo
        {
            Titles = new[]
            {
                "Gerador de cores",
                "Jogo da velha",
                "Gerador de senhas",
                "Portfólio"
            },
            Descriptions = new[]
            {
                "Este projeto gera cores aleatórias em RGB e as converte para outros códigos de cores, basta apenas clicar no botão.",
                "Um jogo que é aberto no terminal. Escolha X ou O e onde deseja colocar. Divirta-se. :)",
                "Um simples gerador de senhas. As senhas são geradas com 15 caracteres por padrão mas o comprimento pode ser ajustado no código. Todas as senhas são armazenadas no arquivo .txt, caso precise consultá-las depois.",
                "E por último mas não menos importante, esta página de portfólio em que você está agora. :)"
            },
            ImagePaths = new[]
            {
                "images/projects/color-generator.png",
                "images/projects/tic-tac-toe.png",
                "images/projects/password-generator.png",
                "images/projects/portfolio.png"
            },
            ProjectLinks = new[]
            {
                "https://github.com/monitzz/color-generator",
                "https://github.com/monitzz/tic-tac-toe",
                "https://github.com/monitzz/password-generator",
                "https://github.com/monitzz/portfolio"
            },
            DeployedLinks = new[]
            {
                "https://color-generator-gqnc8z0th-igor-borges-projects-6e496d8b.vercel.app",
                "https://replit.com/join/yoieqhxyag-igorbkuhl",
                "https://replit.com/join/lgjoasfsjg-igorbkuhl",
                "#"
            }
        });
    }

}
