<div class="project-display rounded p-4 mb-4 shadow">
    <div class="display-header mb-3 d-flex justify-content-between">
        <h5>@Title</h5>
    </div>
    <div class="display-body d-flex">
        <img src="@ImagePath" />
        <div class="text-area p-3">
            <p>@Description</p>
            <p>Este projeto pode ser acessado por <a class="stylized-link" href="@DeployedLink" target="_blank">aqui</a>.</p>
            <a class="stylized-link" href="@ProjectLink" target="_blank">Repositório do projeto.</a>
        </div>
    </div>
</div>

@code
{
    [Parameter] public string Title { get; set; } = "";
    [Parameter] public string Description { get; set; } = "";
    [Parameter] public string ImagePath { get; set; } = "";
    [Parameter] public string ProjectLink { get; set; } = "";
    [Parameter] public string DeployedLink { get; set; } = "";
}
